<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      * {
        font-family: Arial;
        margin: 2px;
        padding: 10px;
        text-align: center;
        position: flex;
      }
      body {
        margin-top: 10%;
      }
    </style>
    <title>User Storage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(function () {
        $("#button_logout").click(function () {
          $.ajax({
            url: "/api/logout",
            type: "GET",
            dataType: "json",
            contentType: "application/json",

            success: function (response) {
              console.info(response);
              if (response.message == "fail") {
                alert("Send fail");
                alert(response);
              } else {
                alert("Send success");
              }
            },
            error: function (response) {
              console.log(response);
              console.error(response);
              alert("Send failed");
            },
          });
        });
      });
    </script>
  </head>

  <body>
    <h1>Storage API</h1>
    <div>
      <h2>Logout</h2>
      <button id="button_logout">Logout</button>
    </div>
  </body>
</html>
